.navbar {
    background-color: rgb(242,142,245)
  }

  .navbar-brand {
    /* Agrega los estilos CSS personalizados para el logo aquí */
  }

  .navbar-toggler {
    /* Agrega los estilos CSS personalizados para el botón de navegación aquí */
  }

  .nav-item {
    color: white;
    font-weight: 600;

  }

  .dropdown-toggle {
    /* Agrega los estilos CSS personalizados para el botón de desplegable aquí */
  }

  .dropdown-menu {
    /* Agrega los estilos CSS personalizados para el menú desplegable aquí */
  }

  .dropdown-item {
    /* Agrega los estilos CSS personalizados para cada elemento del menú desplegable aquí */
  }