.person1{
    color: #007aff;
    font-size: 15px;
    font-weight:bold;

}

.person2{
    color: #F85050;
    font-size: 15px;
    font-weight: bold;

}

.negritas{
    color: #F85050;
    font-size: 20px;
    font-weight: bold;
}
.box{
    background-color: #CCCFFF;
}

.box-words{
    font-size: 16px;
    font-weight:700;
}