.hero-container {
  background-color: rgb(111, 79, 235);
}

.hero-text {
  color: white;
  font-size: 34px;
  padding-top: 5px;
}

.hero-logo {
  width: 390px;
}

.hero-description {
  color: white;
  font-size: 46px;
  font-family: "Poppins";
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 24px;
  }
  .hero-logo {
    width: 100%;
  }
}
