

p, .paragraph {
  font-weight: 400;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 50px;
  font-weight: 800;
}
@media (max-width: 575px) {
  h1, .h1 {
    font-size: 36px;
    font-weight: 600;
  }
}

h2, .h2 {
  font-size: 42px;
  font-weight: 800;
}
@media (max-width: 575px) {
  h2, .h2 {
    font-size: 32px;
    font-weight: 600;
  }
}

h3, .h3 {
  font-size: 32px;
}
@media (max-width: 575px) {
  h3, .h3 {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: 26px;
}

h5, .h5 {
  font-size: 22px;
}

h6, .h6 {
  font-size: 18px;
}

/* Button style */
.btn {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  padding: 13px 30px;
  border-radius: 6px;
  border: 1px solid;
  position: relative;

  transition: 0.2s ease;
  font-weight: 600;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 25px;
}

.btn-primary {
  background: #FF0043;
  color: #fff;
  border-color: #FF0043;
}


.section {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 20px;
}
.section-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  margin-bottom: 40px;
}




.card-new {
  transition: 0.2s ease;
  border: 0;
}
.card-lg .card-body-new {
  padding: 35px;
}
.card-icon {
  background: #FF0043;
  color: #fff;
  height: 55px;
  width: 60px;
  line-height: 55px;
  text-align: center;
  font-size: 27px;
  display: block;
  margin-top: 40px;
}
.card-text-new {
  margin-bottom: 0;
}
.card-title-new {
  font-weight: 700;
}
.card-body-new {
  padding: 25px;
}
.card-new:hover {
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.2) !important;
}
.social-icons {
  margin-bottom: 0;
}
.social-icons a {
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: #FF0043;
  border-radius: 6px;
}

.rounded, .card-icon, .card {
  border-radius: 12px !important;
}

.shadow, .card, .search-wrapper .form-control, .navigation.nav-bg {
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
}

/* Estilos para el acordeón */
.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

.accordion-body {
  padding: 10px;
}

/* Cambiar el estilo cuando el botón está colapsado */
.accordion-button[aria-expanded="false"] {
  background-color: #e9ecef;
  color: #333;
}



/* Establecer un ancho máximo para el acordeón */
.accordion {
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  width: 100%;
}