




.card-new {
  transition: 0.2s ease;
  border: 0;
}
.card-lg .card-body-new {
  padding: 35px;
}
.card-icon {
  background: #FF0043;
  color: #fff;
  height: 55px;
  width: 60px;
  line-height: 55px;
  text-align: center;
  font-size: 27px;
  display: block;
  margin-top: 40px;
}
.card-text-new {
  margin-bottom: 0;
}
.card-title-new {
  font-weight: 700;
}
.card-body-new {
  padding: 25px;
}
.card-new:hover {
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.2) !important;
}
.social-icons {
  margin-bottom: 0;
}
.social-icons a {
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: #FF0043;
  border-radius: 6px;
}

.rounded, .card-icon, .card {
  border-radius: 12px !important;
}

.shadow, .card, .search-wrapper .form-control, .navigation.nav-bg {
  box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.102) !important;
}

/* Estilos para el acordeón */
.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.accordion-button {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

.accordion-body {
  padding: 10px;
}

/* Cambiar el estilo cuando el botón está colapsado */
.accordion-button[aria-expanded="false"] {
  background-color: #e9ecef;
  color: #333;
}



/* Establecer un ancho máximo para el acordeón */
.accordion {
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  width: 100%;
}