@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.text-gradient {
  color: #fefefe;
    

 
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}




.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.roadmap-step {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 900px;
  background-color: #1a202c;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.roadmap-step.with-line::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2rem;
  width: 2px;
  height: 2rem;
  background-color: #4a5568;
}

.step-thumbnail {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #A0AEC0;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.link:hover {
  color: var(--sec);
  text-decoration: underline;
}

.bg-dimBlue {
  background-color: #2d3748;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.timeline-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 1rem;
  color: #ffffff;
  background-color: #4a5568;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-width: 100%;
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.link:hover::before {
  opacity: 1;
}

.link:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.subtitle-container {
  text-align: center;
  margin-top: 10px; /* ajuste según sea necesario */
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  /* otros estilos */
}



/* Animation for sidebar */
.sidebar {
  position: fixed;
  left: -250px; /* Hidden by default */
  top: 70px;
  height: calc(100% - 70px);
  width: 250px;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000;
  transition: left 0.3s ease;
  overflow-y: auto;
}

.sidebar.visible {
  left: 0; /* Show when visible */
}

/* Styles for scrollbar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #A0AEC0;
  border-radius: 8px;
  border: 2px solid #1a202c;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #cbd5e0;
}

.sidebar-button {
  display: block;
  padding: 15px;
  color: white;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #575757;
}

/* Toggle button for mobile */
.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 10px;
  background: none;
  border: none;
  color: #A0AEC0;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
}

@media (min-width: 768px) {
  .sidebar {
    left: 0; /* Show sidebar by default on larger screens */
    width: 250px;
  }
  .sidebar-toggle {
    display: none; /* Hide toggle on larger screens */
  }
}

.main-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* Reset margin for mobile */
  }
}