@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
    overflow-x: hidden;

  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.text-gradient {
  color: #fefefe;
    

 
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}



/* Timeline */
.timeline-number {
  background-color: #f59e0b;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}
.timeline-number:hover {
  background: #7B5DC4; /* Color de fondo más claro al hacer hover */
  transform: scale(1.1); /* Ligeramente más grande al hacer hover */
}
/* Roadmap Styles */
.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.roadmap-step {
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 900px;
  background-color: #1a202c;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.roadmap-step.with-line::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2rem;
  width: 2px;
  height: 2rem;
  background-color: #4a5568;
}
.step-thumbnail {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #A0AEC0;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.link:hover {
  color: var(--sec);
  text-decoration: underline;
}

.bg-dimBlue {
  background-color: #2d3748;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}



/* Link Styles */
.link {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.link:hover::before {
  opacity: 1;
}

.link:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.link-title .link-button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}
.link-button:hover {
  color: white; /* Morado vibrante, que combina con el tema moderno y elegante */
  transform: translateY(-2px); /* Sutil efecto de desplazamiento hacia arriba */
}
.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.subtitle-container {
  text-align: center;
  margin-top: 10px; /* ajuste según sea necesario */
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  /* otros estilos */
}

.arrow-icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}
/* Sidebar Animation */
.sidebar {
  position: fixed;
  left: -250px;
  top: 70px;
  height: calc(100% - 70px);
  width: 250px;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 2;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  overflow-y: auto;
  font-family: 'Arial', sans-serif;
  border-right: 3px solid #9B79D1; /* Borde morado moderno */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}


.sidebar.visible {
  left: 0;
}

/* Sidebar Button */
.sidebar-button {
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  justify-content: space-between;
}
.current-location {
  font-size: 12px;
  color: white;  /* O el color que prefieras */
  margin-left: 10px;
  font-weight: bold;
  opacity: 0.8;  /* Opacidad suave para que no se vea demasiado fuerte */
}
.sidebar-button:hover {
  background: #34495e;
  color: #ecf0f1;}

  .sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 10px;
    background-color: #FFF;
    border: none;
    color: #34495e;
    font-size: 24px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para efecto moderno */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  }
  
  .sidebar-toggle:hover {
    background-color: #34495e; /* Cambia el fondo al color del icono */
    color: #FFF; /* Cambia el color del icono al blanco */
    transform: scale(1.05); /* Ligeramente más grande al hacer hover */
  }
  
  .sidebar-toggle:active {
    transform: scale(0.95); /* Ligeramente más pequeño al hacer clic */
  }

.sidebar-button.selected {
  background: hsl(200, 4%, 45%);
  color: white; 
  font-weight: bold;
}
/* Accordion Content */
.accordion-content {
  padding: 12px 20px;
  animation: fadeIn 0.3s ease;
  background-color: #2D2A4A; /* Fondo morado oscuro */
  border-left: 4px solid #9B79D1; /* Morado vibrante para el borde */
  border-radius: 6px;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: max-height 0.3s ease, background-color 0.3s ease;
}

.accordion-content .timeline-item {
  margin: 6px 0;
  padding: 6px 0;
  border-bottom: 1px solid #4B3C73; /* Borde más suave, combinando con el fondo */
  transition: background-color 0.3s ease;
}



.accordion-content .link-title a {
  color: #D1D5DB; /* Color suave y claro para enlaces */
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease;
}



.timeline-item.highlighted {
  color: #F3E5F5; /* Texto en color blanco suave para elementos destacados */
}

.timeline-number {
  width: 24px;
  height: 24px;
  background: #5D3FD3; /* Azul violáceo moderno */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 0.9em;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para efecto moderno */
  transition: background 0.3s ease, transform 0.3s ease;
}
.sidebar-item.selected .checkmark {
  transform: scale(1.2); /* Agrandar el ícono cuando se selecciona */
}

.hito-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 70%;
  margin: auto;
}

.hito-container iframe {
  border-radius: 5px;
}

.popup-container {
  position: fixed;
  top: 0;
  top: 40px;
  left: 0;
  margin-left: 170px;
  width: 100%; /* Asegura que ocupe todo el ancho en pantallas pequeñas */
  height: 100%; /* Ocupa toda la altura */
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Margen para mejorar la apariencia en móviles */
}

.popup-container .popup-content {
  position: relative;
  background-color: #1a202c;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%; /* Ajustable para pantallas móviles */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
}
.popup-container .popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popup-container .popup-content p {
  font-size: 1rem;
  line-height: 1.6;
}

.popup-container .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #A0AEC0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-container .close-btn:hover {
  color: #E53E3E; /* Cambia a un tono de color de advertencia */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #ff3b3b;
}

.sidebar {
  position: relative;
}

.sidebar .sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .sidebar {
    left: 0;
    
    width: 350px;
    margin-right: 190px;
  }

  .sidebar-toggle {
    display: none;
  }
 
}

/* Ocultar sidebar y expandir popup en pantallas pequeñas */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .popup-container {
    width: 580px;
    margin-left: 0;
    height: 500px;
    padding: 0;
    top: 50px;

  }

  .popup-container .popup-content {
    max-width: 560px;
    top: 50px;

    padding: 20px;
  }

  
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar.visible {
    display: block;
  }
  .popup-container  {
    max-width: 560px;
    top: 80px;
right: 40px;
    padding: 20px;
  }

  
}





.search-bar {
  display: flex;
  align-items: center;
  background-color: #1a1a1a; /* Fondo oscuro para un look moderno */
  border-radius: 40px; /* Bordes redondeados */
  padding: 8px 16px;
  margin: 10px 0;
  border: 1px solid #333; /* Borde sutil */
  transition: box-shadow 0.3s, transform 0.3s; /* Transición suave */
}


.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 50px;
  background-color: transparent;
  color: #e0e0e0; /* Color del texto */
  transition: background-color 0.3s; /* Transición suave */
}

.search-input::placeholder {
  color: #888; /* Color del texto del placeholder */
}

.search-input:focus {
  background-color: #333; /* Fondo oscuro al enfocar */
  border-radius: 50px;
}

.search-icon {
  margin-left: 10px; /* Espacio entre el ícono y el input */
  cursor: pointer; /* Indica que es interactivo */
  color: #e0e0e0; /* Color del ícono */
  transition: color 0.3s, transform 0.3s; /* Transición suave */
}



.icon {
  width: 12px; /* Tamaño del ícono */
  height: 12px;
}

/* Para un ícono de lupa */
.search-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  background: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  margin: 10px 0;
  position: relative;
}

.progress {
  background: #76c7c0;
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.timeline-item.viewed {
  opacity: 0.6;
  text-decoration: line-through;
}
